* {
  box-sizing: border-box;
}
  
*{color: blue;}
p{
    color:red;
    width: 300px;
}

/**
Para poner comentarios en css se debe poner /** 
*/
h1{
    font-family: font-family 'Roboto', sans-serif;
    margin: 4px;
    border-top: 5px solid black ;
    border-right: 6px double;
    border-bottom: 5px dotted black;
    border-left: 6px double rebeccapurple;
    padding: 25px 30px 40px 30px;
    font-weight: bold;
    color:greenyellow;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  #segundo {
    color: aqua;
    font-size: 25px;
    border: 1px;
  }
  #tercero {
    color: red;
    font-size: 30px;
    border: 2px solid orangered;
  }
.clase1 {
    color: black;
    font-size: 30px;
    font-style: oblique;
}
section h1 {
    color: black;
}